@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add some custom styles */
body { 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #0E103D;
}

.filter-select {
  background: linear-gradient(to right, rgba(240, 205, 139, 0.2), #15184D);
  color: white;
  border: 2px solid #CD9B3B;
  border-radius: 12px;
  padding: 10px 15px;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.filter-select:hover {
  background: linear-gradient(to right, rgba(240, 205, 139, 0.3), #15184D);
  border-color: #CD9B3B;
  color: #CD9B3B;
}

.filter-select option {
  background-color: #1E2454;
  color: white;
}